﻿@{
    ViewBag.Title = "Home Page";
}




<div ng-app="myModule">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 quiz-content">
                <div ng-controller="quizController" ng-init="nextQuestion()">

                    <p>
                        {{ title }}
                    </p>

                    <p>
                        <div ng-repeat="option in options">
                            <button class="btn btn-info" ng-click="sendAnswer(questionId,option.chosen)">{{ option.name }}</button>
                        </div>
                    </p>


                    <button class="btn btn-success" ng-click="nextQuestion()">Nastepne pytanie</button>


                </div>
            </div>
        </div>
    </div>






</div>